.w3-text-theme {color:#f94e06 !important}
.w3-theme {color:#fff !important; background-color:#f94e06 !important}

.w3-theme-l5 {color:#000 !important; background-color:#fff8f5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fedccd !important}
.w3-theme-l3 {color:#000 !important; background-color:#fdb89b !important}
.w3-theme-l2 {color:#000 !important; background-color:#fb956a !important}
.w3-theme-l1 {color:#fff !important; background-color:#fa7138 !important}
.w3-theme-d1 {color:#fff !important; background-color:#e04605 !important}
.w3-theme-d2 {color:#fff !important; background-color:#c73e05 !important}
.w3-theme-d3 {color:#fff !important; background-color:#ae3704 !important}
.w3-theme-d4 {color:#fff !important; background-color:#952f04 !important}
.w3-theme-d5 {color:#fff !important; background-color:#7c2703 !important}

.w3-theme-light {color:#fff !important; background-color:#fa7138 !important}
.w3-theme-dark {color:#fff !important; background-color:#952f04 !important}
.w3-theme-action {color:#fff !important; background-color:#7c2703 !important}
