<div class="w3-center vlcom-container w3-padding-4">
    <div class=" w3-card-2">
        <div class="w3-container w3-padding-8">
        <h1 class="vlcom-green w3-padding-4 w3-padding-left w3-padding-right">Willkommen zu VLcom</h1>
        <h4 class="vlcom-grey w3-padding-4 w3-padding-left w3-padding-right">A communicator for Vertrauensleute inside the Gewerkschaft</h4>
        <a class="vlcom-btn vlcom-green w3-large" href="#/reg"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrieren</a>
        <a class="vlcom-btn vlcom-green w3-large" href="#/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        </div>
    </div>
</div>
